
<div class ="viewer">
    <div class="contents">
        <div class="intro">{{intro}}</div>
        <div class="info">{{profileValue}}</div>
</div>
    <ul class="menu list">
            <li *ngFor="let item of menuItems" (click)="showInfo(item.name)" >
            <mat-icon [ngClass]="selected === item.name ? 'mast-icon-selected' : '' ">{{item.icon}}</mat-icon>
        </li>
    </ul>
</div>