<div class="candidate" (click)="view()">
    <mat-card [ngClass]="selected? 'mat-elevation-z6' : 'mat-elevation-z1'">
        <mat-card-header>
          <div mat-card-avatar class="candidate-image" [ngStyle]="{'background-image': 'url(' + avatar + ')'}"></div>
          <mat-card-title>{{name}}</mat-card-title>
          <mat-card-subtitle>{{location}}</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-actions>
          <button mat-stroked-button (click)="remove()">REMOVE</button>
        </mat-card-actions>
      </mat-card>
</div>

