<div class="maindiv">
  <app-profilepic [imageUrl]='imageUrl' [loading]='loading' >
  </app-profilepic>   
  <app-viewer [currentUser]='currentUser' [candidates]='profiles'> 
  </app-viewer>
  <mat-drawer-container autosize>
    <mat-drawer #candidatesList  mode="push">
      <div class="other-candidates">Candidates List</div>
        <app-candidate-list [candidates]='profiles'></app-candidate-list>
    </mat-drawer>
  
    <div *ngIf="!candidatesList.opened" class='other-candidates'>
        <button mat-stroked-button (click)="candidatesList.toggle()">SHOW MORE CANDIDATES</button>
    </div>
  
  </mat-drawer-container>
</div>




