@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto-Thin.ttf) format('truetype')
}
@font-face {
    font-family: Roboto-Bold;
    src: url(./assets/fonts/Roboto-Bold.ttf) format('truetype')
}
body{
    margin: 0 !important;
}
.maindiv{
    background-color:#EEE;
    width: 100%;
    height: 250px;
    margin: 0;
    border-bottom: #CCC 1px solid;
    display: inline-block
}
.maindiv li{
    list-style-type:none;
}

.profile-pic{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
    padding: 5px;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color:white;
    border: #ccc 1px solid;
}
.profile-pic-thumbnail{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
}

.profile-pic-thumbnail-loading{
    display: none;
}

.spinner{
    color:green;
}

.viewer {
    width: 100%;
    background-color: white;
    display: block;
    /* margin-top: 400px; */
}
.contents {
    width:300px;
    height: 300px;
    display: inline;
}
.menu {
    display: flex;
    width: 100%;
    position: relative;
    transform: translateX(-50%);
    margin-left: 50%;
    padding: 0px;
    margin-top: 20px;
    justify-content: center;
}
ul.menu li {
    list-style-type: none;
    padding: 15px;
    width:35px;
    height: 35px;
    background: no-repeat center;
    overflow: hidden;
    float: left;
    display: inline;
    cursor: pointer;   
}
.mat-icon {
    font-size: 3em;
    color: #ccc;
}
.mast-icon-selected {
    color:#83ba43 !important;
}
.mat-icon:hover {
    color:#83ba43;
}


.intro {
   margin-top: 25px;
   text-align: center;
   font-family: Roboto;
   font-size: 1.4em;
   color: grey;
}
.info {
    margin-top: 20px;
    text-align: center;
    font-family: Roboto-Bold;
    font-size: 1.8em;
    color: black;
}

.candidates-list{
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit,  400px);
    padding-bottom: 10px;
}

.canditate {
    width: 480px !important;
    float: left;
    margin: 10px;
    
}

  
.candidate-image {
    background-size: cover;
    border-radius: 50%;
}

.mat-card-actions{
    margin: 0px;
    text-align: right;
}

.mat-card{
    cursor: pointer;
}
.mat-drawer{
   width: 420px;;
}
.mat-drawer-container {
    position: unset !important;
    z-index: 1;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow: hidden;
    background-color: #fff;
}
  
.other-candidates{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: Roboto-Bold;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
